@import "../../_cosmo.min.css";

.filter {
  min-width: 170px;
}

.filter label {
  margin-top: 0.3rem;
  font-size: 0.9rem;
}
.filter .form-check-input {
  margin-top: 0.6em;
}

.filter .label-comment {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.filter .label-comment div {
  padding: 0;
  margin: 0;
}

.color div {
  display: inline-block;
  margin: 3px;
  width: 25px;
  height: 25px;
  vertical-align: top;
  position: relative;
}

.color [type="checkbox"]:not(:checked),
.color [type="checkbox"]:checked {
  position: absolute;
  left: 0;
  opacity: 0.01;
}

.color label {
  position: absolute;
  left: 0;
  display: block;
  width: 25px;
  height: 25px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  cursor: pointer;
  z-index: 100;
}

.color div label:before {
  content: "";
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #d6d6d7;
  opacity: 0.8;
}
.color > div.white label:before {
  background: #fff;
}
.color > div.natural label:before {
  background: #fbf8e0;
  border: 1px solid #e6e3ca;
}
.color > div.beige label:before {
  background: #c7b299;
}
.color > div.yellow label:before {
  background: #ffe168;
}
.color > div.orange label:before {
  background: #f2763d;
}
.color > div.red label:before {
  background: #d92b31;
}
.color > div.pink label:before {
  background: #f06eaa;
}
.color > div.purple label:before {
  background: #9f5ddd;
}
.color > div.black label:before {
  background: black;
}
.color > div.gray label:before {
  background: gray;
}
.color > div.green label:before {
  background: green;
}
.color > div.blue label:before {
  background: #2780e3;
}
.color > div.brown label:before {
  background: brown;
}
.color > div.multicolor label:before {
  background: linear-gradient(45deg, #fffc00, red 60%, #2780e3);
}

.color [type="checkbox"]:checked + label:before,
.color [type="checkbox"]:hover + label:before {
  border-radius: 50%;
  opacity: 1;
  border: 2px solid rgba(39, 128, 227, 0.9);
  box-shadow: 2px 2px 2px rgba(39, 128, 227, 0.5);
  /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2) inset, 3px 3px 3px rgba(39, 128, 227, 0.5); */
}
